<div class="container">
    <h1>About the Event</h1>
    <p>Join us for double demo nights as we continue to foster a dual Tijuana/San Diego startup tech collaboration- we are holding two nights of events on both sides of the border!</p>
    <p>Tuesday, October 25th - San Diego-based startups will showcase their companies at the Startup Fair, and will be followed by seven selected Mexico-based companies to demo their progress thereafter. This is all being held at the San Diego Downtown Library, 330 Park Blvd, San Diego, CA 92101.</p>
    <p>Wednesday, October 26th - The following evening- Mexico-based startups will be showcase their companies and be followed by seven San Diego-based companies will demo their progress for the Mexican audience on the other side of the boarder at Mindhub, Tijuana, Mexico Come join us at both nights as we celebrate our cross-boarder tech successes and one ticket gets you into all events!</p>
    <p>This event is produced by SD Lean Tech Founders, Startup SD, MindHub, Origin Code Academy, & Impact Without Borders </p>

    <p>WHEN</p>
    <p> Tuesday, October 25, 2016 at 4:00 PM - Wednesday, October 26, 2016 at 10:00 PM (PDT) - <a href="">Add to Calendar</a></p> 
    <p>WHERE</p>
    <p> San Diego Library & Mindhub TJ - Downtown, San Diego, CA, United States & Tijuana, Mexico - <a href="">View Map</a></p>
</div>
